<br>
<div class="highlight" style="padding:5px">
    <h3>WRITTEN BY</h3>
    <p>
    <img src="/images/sebastian.jpg" style="height: 128px;border-radius: 50%;float:left;padding:5px;">
    </p>
    <p>
    Sebastian Glahn is a Senior Software Engineer living in Cologne. He writes about Software Development, 3D-Printing, Robots and other stuff. He is also a maintainer of several open source projects. 
    </p>
    <p>
    <a href="/about">about</a> |
    <a href="https://github.com/sglahn">github</a> |
    <a href="https://www.twitter.com/sglahn">twitter</a>
    </p>
</div>
<br>
