.label {
  padding: 0px 10px;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 20px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.8);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 100px;
  transition: all 0.2s ease;
  background-color: $heading-color;

  &:focus,
  &:hover {
    color: $bg-color;
    background-color: $primary;
    border: 2px solid $primary;
  }
}

a[href^="/tags/docker"] { background-color: #ada397; }
a[href^="/tags/coding"] { background-color: #96897f; }
a[href^="/tags/3d-printing"] { background-color: #625750; }
a[href^="/tags/retro-gaming"] { background-color: #8b6f47; }
a[href^="/tags/robotics"] { background-color: #cab577; }
a[href^="/tags/microcontroller"] { background-color: #a2b9bc; }
a[href^="/tags/java"] { background-color: #6b5b95; }
a[href^="/tags/python"] { background-color: #86af49; }
a[href^="/tags/git"] { background-color: #92a8d1; }
a[href^="/tags/command-line"] { background-color: #8ca3a3; }
a[href^="/tags/maemo"] { background-color: #618685; }

